body {
    font-family: "Lato";
    // background-color: #131D27;
    // color: white;
  }

.profile-section-bg{
    background-color: rgb(214, 214, 214);
    background-size: cover;
    background-position: center;
    padding-top: 4em;
}
  
// Profile-section
.profile-section{
    // margin-top: 1em;
    // padding: 1em;
    background-color: rgba(43, 43, 43, 0.877);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 12px #1111112d;
    padding: 2em;
    padding-bottom: 4em;
    
    // border-top: 0.2em solid rgb(151, 179, 197);
    // box-shadow: 3px 3px 12px #e6e6e6;
    color: white;
}

// Tab-section
.tab-section{
    // padding: 1em;
    box-shadow: 3px 3px 12px #d4d4d491;
}

.tab-links{
    margin-bottom: 0;
    margin-top: -1.5em;
    z-index: 1;
    list-style: none;
    // background-color: rgb(61, 72, 88);
    // padding: 0;
    // padding: 0em 0.2em;

    li{
        float: left;
    }

    li a{
        display: block;
        color: white;
        backdrop-filter: blur(10px);
        background-color: rgba(75, 75, 75, 0.952);
        border-right: 0.15em solid rgb(65, 65, 65);
        padding: 0.55em 0.1em;
        text-decoration: none;
        text-align: center;
        font-size: 1.1em;
    }

    li a.active{
        background-color: rgb(98, 116, 148);
    }

    li a:hover{
        background-color: rgb(98, 116, 148);
    }
}

// Projects-section
.projects-section{
    h3{
        color: rgb(56, 56, 56);
    }
}

.project-card{
    // border: 0.15em solid rgb(238, 238, 238);
    background-color: rgb(252, 252, 252);
    box-shadow: 3px 3px 12px #e6e6e6;
    // border-radius: 4%;
    border-radius: 4%;
    padding: 1em;
    height: 10em;
    // background-size: cover;
    background-size: 100%;
    background-position: center;
    color: white;

    transition: all 0.1s;
    scale: 1.00;
}

.project-card:hover{
    cursor: pointer;
    background-size: 105%;
    background-color: rgb(156, 156, 207);
    // border-radius: 4% 3% 0% 330% / 12% 0% 33% 27%;
    // border-radius: 0% 100% 34% 66% / 100% 45% 55% 0% ;
    box-shadow: 3px 3px 12px #0000007c;
    color: white;
    scale: 1.05;
}